A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #323232; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #323232; TEXT-DECORATION: underline
}
.nav {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.nav:hover {
	FONT-WEIGHT: bold; COLOR: #cc3333; TEXT-DECORATION: underline
}
TABLE {
	empty-cells: show
}
BODY {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
TD {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: white
}
INPUT {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
TEXTAREA {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
BUTTON {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
INPUT.check {
	
}
SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #666666; HEIGHT: 1px; BACKGROUND-COLOR: #666666; BORDER-RIGHT-WIDTH: 0px
}
.hrcolor {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #666666; HEIGHT: 1px; BACKGROUND-COLOR: #666666; BORDER-RIGHT-WIDTH: 0px
}
.quote {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: x-small; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #c3b8d0
}
.code {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: x-small; PADDING-BOTTOM: 1px; MARGIN: 1px auto; OVERFLOW: auto; BORDER-LEFT: #000000 1px solid; WIDTH: 99%; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "courier new", helvetica, "times new roman", serif; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #cccccc
}
.quoteheader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
.codeheader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
.help {
	CURSOR: help
}
.meaction {
	COLOR: red
}
.editor {
	WIDTH: 96%
}
.highlight {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: yellow
}
.windowbg {
	COLOR: #000000; BACKGROUND-COLOR: #e1e1e1
}
.windowbg2 {
	COLOR: #000000; BACKGROUND-COLOR: #f0f0f0
}
.signature {
	
}
.titlebg {
	COLOR: white; FONT-STYLE: normal; BACKGROUND-COLOR: #6b8eae
}
TR.titlebg TD {
	COLOR: white; FONT-STYLE: normal; BACKGROUND-COLOR: #6b8eae
}
.titlebg A:link {
	COLOR: white; FONT-STYLE: normal; BACKGROUND-COLOR: #6b8eae
}
.titlebg A:visited {
	COLOR: white; FONT-STYLE: normal; BACKGROUND-COLOR: #6b8eae
}
.titlebg A:hover {
	COLOR: #dfdfdf
}
.catbg {
	BACKGROUND-IMAGE: url(images/catbg.jpg)
}
.catbg2 {
	BACKGROUND-IMAGE: url(images/catbg2.jpg)
}
.catbg {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: silver
}
.catbg2 {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: silver
}
.bordercolor {
	BACKGROUND-COLOR: #828181
}
.tborder {
	BORDER-RIGHT: #828181 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #828181 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #828181 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #828181 1px solid; BACKGROUND-COLOR: #ffffff
}
.smalltext {
	FONT-SIZE: x-small; FONT-FAMILY: Tahoma, arial, helvetica, serif
}
.normaltext {
	FONT-SIZE: small
}
.largetext {
	FONT-SIZE: large
}
#headerarea {
	BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: white
}
#bodyarea {
	BACKGROUND-COLOR: #d4d4d4
}
#footerarea {
	BORDER-TOP: gray 1px solid; COLOR: black; BACKGROUND-COLOR: white
}
.headertitles {
	BORDER-RIGHT: #6b8eae 1px solid; BORDER-TOP: #6b8eae 1px solid; BORDER-LEFT: #6b8eae 1px solid; BORDER-BOTTOM: #6b8eae 1px solid; BACKGROUND-COLOR: #6b8eae
}
.headerbodies {
	BORDER-RIGHT: #7a7777 1px solid; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #7a7777 1px solid; BORDER-LEFT: #7a7777 1px solid; BORDER-BOTTOM: #7a7777 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #efefef
}
